nav {
  z-index: 9999;
}
nav a.navbar-brand {
  color: var(--violet) !important;
  font-size: 1.8rem;
}

nav a.nav-link {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: system-ui;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--secondText) !important;
}
.darkOptions {
  width: 5rem;
  height: 2rem;
  border-radius: 0.7rem;
  transition: all 0.5s linear;
}
.darkOptions.dark {
  width: 5rem;
  height: 2rem;
  background-image: url(/imgs/darkMode/moon.webp);
  background-size: cover;
  background-position: bottom;
}

.darkOptions.light {
  width: 5rem;
  height: 2rem;
  background-image: url(/imgs/darkMode/sun.webp);
  background-size: cover;
  background-position: bottom;
}
.darkOptions:hover {
  cursor: pointer;
}
.darkOptions span {
  transition: all 0.5s linear;
  width: 40%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  background-position: bottom;
  background-size: cover;
  text-align: center;
}
.darkOptions span.light {
  background-image: url(/imgs/darkMode/moon.webp);
  transform: translateX("0");
}

.darkOptions span.dark {
  background-image: url(/imgs/darkMode/sun.webp);
  transform: translateX(calc(5rem - 5rem * 0.4));
  opacity: 0.7;
}
.navbar-collapse.show {
  z-index: 999;
  background: linear-gradient(1deg, #ffffff8f, #ffffff26);
  border-radius: 0 0 10px 10px;
  z-index: 999;
  margin-bottom: 1rem;
}
.dark .navbar-collapse.show {
  background: linear-gradient(1deg, #0002118f, #0a0a8a26);
}
.hamburger {
  background-color: var(--bgeffectBtn);
  color: var(--btnText) !important;
}
.dark .hamburger {
  background-color: var(--violet);
}
