.carousel-big-pupple {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0px 0px 20px rgb(255, 255, 255, 0.45),
    0 0px 0px 50px rgb(255, 255, 255, 0.34),
    0 0px 0px 60px rgb(255, 255, 255, 0.23),
    0 0px 0px 80px rgb(255, 255, 255, 0.12);
  overflow: hidden;
}
.dark .carousel-big-pupple {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0px 0px 20px rgba(11, 9, 41, 0.45),
    0 0px 0px 50px rgba(11, 9, 41, 0.34), 0 0px 0px 60px rgba(11, 9, 41, 0.23),
    0 0px 0px 80px rgba(11, 9, 41, 0.12);
  overflow: hidden;
}
.carousel-big-pupple .canvas {
  position: absolute;
  inset: 0 0;
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  z-index: 4;
}

.carousel-controlers {
  position: relative;
  z-index: 5;
}
.carousel-controlers .carousel-small-pupple {
  z-index: 5;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: all 0.5s linear;
  outline: 2px rgb(255, 255, 255) solid;
  outline-offset: 3px;
}
.carousel-controlers .carousel-small-pupple:nth-of-type(1) {
  top: 10%;
  right: 0%;
}
.carousel-controlers .carousel-small-pupple:nth-of-type(2) {
  top: 30%;
  right: 45%;
}
.carousel-controlers .carousel-small-pupple:nth-of-type(3) {
  top: 50%;
  right: 45%;
}
.carousel-controlers .carousel-small-pupple:nth-of-type(4) {
  top: 70%;
  right: 0%;
}
.carousel-controlers .carousel-small-pupple span.icons {
  align-self: center;
  margin-top: auto;
  height: 100%;
  color: #ffffffc2;
  font-size: 2.5rem;
}
.dark .carousel-controlers .carousel-small-pupple span.icons {
  color: var(--secondText);
  font-size: 2.5rem;
}
.arrows {
  position: relative;
}
.arrow {
  position: absolute;
  color: var(--bgBtn);
  width: 2rem;
  height: 2rem;
}
.arrow:nth-of-type(1) {
  transform: rotate(45deg) scale(1.5);
  top: 5%;
  right: -25%;
}
.arrow:nth-of-type(2) {
  transform: rotate(-45deg) scale(1.5);
  bottom: 10%;
  right: -25%;
}
.arrow:hover,
.arrow:active {
  color: var(--bgeffectBtn);
}
